{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .h1 {
        text-align: center;
        color: red;
        margin-top: 50px;
        padding: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .col-9 {
        text-align: center;

    }

    form {
        margin-left: 400px;
    }

    table {
        margin-left: 200px;
    }
</style>
<div class="content">
    <header>
        <h1 class="h1">Blood Bank</h1>
    </header>
    <hr style="height: 5px; color:red">
    <hr style="height: 3px; color: black">
    <h1 class="h1" style="color: gray;">Available Blood Bags</h1>
    <hr style=" color:red; height: 2px">
    <div class="content m-3">
        <div class="col-9">
            <table class="table table-striped table-dark">
                <tr>
                    <th>Blood Groups</th>
                    <th>Available Bags</th>
                    <th>Price</th>
                </tr>
                <tr>

                    <td><img src=" {% static 'images/A+.jpeg' %} " style="width: 70px" alt="A positive"></td>
                    <td>3 bags</td>
                    <td rowspan="8"> 1000 per bag</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/B+.jpeg' %} " style="width: 70px" alt="B positive"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/O+.jpeg' %} " style="width: 70px" alt="O positive"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/AB+.jpeg' %} " style="width: 70px" alt="AB positive"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/A-.jpeg' %} " style="width: 70px" alt="A Negative"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/B-.jpeg' %} " style="width: 70px" alt="B Negative"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/O-.jpeg' %} " style="width: 70px" alt="O Negative"></td>
                    <td>3 bags</td>
                </tr>
                <tr>
                    <td><img src=" {% static 'images/AB-.jpeg' %} " style="width: 70px" alt="AB Negative"></td>
                    <td>3 bags</td>
                </tr>
            </table>
        </div>
        <hr style="height: 3px;">
        <h1 class="h1">Request Blood</h1>
        <hr style=" color:red; height: 2px">
        <form action="bloodbank" method="POST" style="width: 700px;">
            {% csrf_token %}
            <input type="hidden" class="form-control" name="fname" value=" {{user.first_name}} "><br>
            <input type="hidden" class="form-control" name="email" value=" {{user.email}} "><br>

            <label class="label" for="">Select Blood Group</label>
            <select class="form-select" name="bloodgroup" aria-label="Default select example" required>
                <option selected value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="O+">O+</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="O-">O-</option>
                <option value="AB-">AB-</option>
            </select><br>
            <br>
            <label class="label" for="">Bag Queantity</label>
            <input type="text" name="quantity" class="form-control" required><br>
            <label class="label" for="">Contact number</label>
            <input type="text" name="contact" class="form-control" required><br>
            <label class="label">Blood need Date</label>
            <input type="date" name="booking_for" class="form-control" required><br>
            <button class="btn btn-lg btn-danger" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}